         <div class="header">
            <div class="wrapper">
                <div class="brand">
                    <a href="/"><img src="/assets/img/logo-krak.png" alt="logo"></a>
                </div>
                <nav class="navigation-items">
                    <div class="wrapper">
                        <ul class="main-navigation navigation-top-header"></ul>
                        <a target="_blank" href="https://itunes.apple.com/us/app/krak/id916474561" style="margin-right: 5px;"><img src="/assets/img/appstore.png"/></a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=project.com.krak"><img src="/assets/img/playstore.png"/></a>
                        <!-- <a href="#" class="submit-item">
                            <div class="content"><span>Submit Your Spot</span></div>
                            <div class="icon">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a> -->
                    </div>
                </nav>
            </div>
        </div>